[Unit]
Description=Enzyme Search Engine Frontend Public
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/bingxing2/home/scx9kyg/xqc/enzyme-search-engine
ExecStart=/usr/bin/python3 -m http.server 8040 --bind 0.0.0.0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
